<% content_for :title, "New Issue" %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="h3 mb-0">New Issue</h1>
  <%= link_to "Back", project_path(@project), class: "btn btn-outline-secondary" %>
</div>

<%= render "form", issue: @issue %>
